{% extends "OrganizerBundle::layout.html.twig" %}

{% block title %} Page cr&eacute;ation d un'utilisateur{% endblock %}

{% block content %}
<h1>Cr&eacute;er  utiliseur</h1>
<form action="{{ path('register') }}" method="post" enctype="multipart/form-data">
    {{ form_field(form) }}

    <input type="submit" value="Valider" />
</form>


{% endblock %}
