{% extends "OrganizerBundle::layout.html.twig" %}

{% block title %}Organizer.{% endblock %}

{% block headextended %}
<link type="text/css" rel="stylesheet" href="{{ asset('css/chat.css') }}">
{% endblock %}

{% block body %}
<a id="organizer" href="{{ path('homepage') }}"></a>
<div id="toolbox">
  <div id="options">
    <ul class="menu">
      <li>
        <a href="{{ path('edituser') }}">Editer mon profil</a>
      </li>
      <li>
        <a href="http://google.com">Ajouter un groupe</a>
      </li>
      <li>
        <a href="http://google.com">Ecrire un article</a>
      </li>
      <li>
        <a href="http://google.com">Manger une pomme</a>
      </li>
      <li>
        <a href="{{ path('logout') }}">Logout</a>
      </li>
    </ul>
  </div>
  <div id="username">
    {{ user.getUsername() }}
  </div>
</div>
<div id="groupname">
  M1 Miage classique
  <ul id="groupcontrol">
      <li><a href="http://google.com" class="switch" rel="calsection">Calendar</a></li>
      <li><a href="http://google.com" class="switch" rel="artsection">Articles</a></li>
      <li><a href="http://google.com" class="switch" rel="chatsection">Chat</a></li>
      <li><a href="http://google.com" class="switch" rel="ovsection">Overview</a></li>
  </ul>
</div>
<div id="mainwrapper">
<div id="main">
  <div id="calsection" class="active">
    <p>
      <span id="caltitle">
        From <strong>{{ from.format('Y-m-d, D') }}</strong>
        to <strong>{{ to.format('Y-m-d, D') }}</strong>
      </span>
      <span id="calcontrol">
        <a id="prev" href=":D"></a>
        <a id="today" href="~~">Today</a>
        <a id="next" href="ㅎㅎ"></a>
        <a id="week" href="¬¬">Week</a>
        <a id="month" href="~~">Month</a>
      </span>
    </p>

    <div id="token" style="display:none">
      {{ token }}
    </div>

    <div id="calendar">
    </div>
  </div>
  <div id="chatsection">
      <div id="chatwindow">
      </div>
      <input type="text" id="chatinput" />
  </div>
  <div id="artsection">
    {# TODO afficher les articles dynamiquement #}
  </div>
  <div id="ovsection">
  </div>
</div>
</div>
<ul id="widgets">
      <li><a id="calwidget" href="http://google.com" class="switch widget" rel="calsection"><span>Calendar</span></a></li>
      <li><a id="artwidget" href="http://google.com" class="switch widget" rel="artsection"><span>Articles</span></a></li>
      <li><a id="chatwidget" href="http://google.com" class="switch widget" rel="chatsection"><span>Chat</span></a></li>
      <li><a id="ovwidget" href="http://google.com" class="switch widget" rel="ovsection"><span>Overview</span></a></li>
</ul>
<br/><br/>
<div align="center">
<b>PARTENAIRES</b>
</div>
<hr/>
<div>    
    <img src="{{ asset('images/footer_partenariat.png')}}" alt="Partenariats" />    
</div>
<div align="center">

<b>CONTACTS:</b>
<hr/>
Jérôme Genoux : Apprentissage L3, M1.  Tél : 01 44 07 88 94 <br/>
Emmanuelle Moreau : Classique L3, M1, M2. Tél : 01 44 07 88 67 <br/>
Jessica Morti : Apprentissage M2. Tél : 01 53 55 27 45  <br/>
    
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  window.http_host = '{{ server }}'
</script>
<script type="text/javascript" src="http://{{ server }}:8888/faye.js"></script>
<script type="text/javascript" src="{{ asset('js/organizer.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/calendar.js') }}" ></script>
<script type="text/javascript" src="{{ asset('js/chat.js') }}"></script>
{% endblock %}
