{% extends "::base.html.twig" %}

{% block title %}Hello{% endblock %}

{% block body %}
    <form action="sample_posteddata.php" method="post">
        <h2 class="samples">&quot;Kama&quot; skin</h2>
            <p>
                <textarea cols="80" id="editor_kama" name="editor_kama" rows="10"> </textarea>
                <script type="text/javascript">
                //<![CDATA[
                    CKEDITOR.replace( 'editor_kama',
                        {
                            skin : 'kama'
                        });
                //]]>
                </script>
            </p>
    </form>
{% endblock %}
